.container_players {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 99%;
}

.image_players {
    height: 80%;
    width: 50%;
}

.image_players-staff {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    height: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 25px;
}

.number_h5 {
    font-size: 15px;
}

.container_goalkeepers {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
}

.goalkeepers {
    box-shadow: 5px 5px 10px #be9e0d;
    padding: 5px;
    border-radius: 5px;
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin: 0 auto;
}

.container_defenses {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
    font-size: 30px;
    margin: 20px 0;
}

.players_defenses {
    box-shadow: 5px 5px 10px #46964a;
    padding: 5px;
    border-radius: 5px;
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin: 0 auto;
}

.container_frills {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
    font-size: 30px;
    margin: 20px 0;
}

.players_frills {
    box-shadow: 5px 5px 10px #1e11d1;
    padding: 5px;
    border-radius: 5px;
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin: 0 auto;
}

.playingDelanteros {
    box-shadow: 5px 5px 10px #cc1515;
    padding: 5px;
    border-radius: 5px;
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin: 0 auto;
}

.container_attackers {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
    font-size: 30px;
    margin: 20px 0;
}