.ju {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 99%;
}

.image_jugadores {
    height: 80%;
    width: 50%;
}

.porteros {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
}

.playingPortero {
    box-shadow: 5px 5px 10px #be9e0d;
    padding: 5px;
    border-radius: 5px;
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin: 0 auto;
}

.playingDefensas {
    box-shadow: 5px 5px 10px #46964a;
    padding: 5px;
    border-radius: 5px;
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin: 0 auto;
}

.playingVolantes {
    box-shadow: 5px 5px 10px #1e11d1;
    padding: 5px;
    border-radius: 5px;
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin: 0 auto;
}

.playingDelanteros {
    box-shadow: 5px 5px 10px #cc1515;
    padding: 5px;
    border-radius: 5px;
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin: 0 auto;
}

.image_jugadoresG {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    height: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 25px;
}

.defensa {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
    font-size: 30px;
    margin: 20px 0;
}

.volantes {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
    font-size: 30px;
    margin: 20px 0;
}

.delanteros {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
    font-size: 30px;
    margin: 20px 0;
}

.h5 {
    font-size: 15px;
}